body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

/* Style for navigation bar */
.navbar {
  background-color: #007bff;
  padding: 10px;
  color: white;
  text-align: center;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

label,
select,
input {
  margin: 10px 0 0 0;
  display: block;
  padding: 0.25rem;
}

.search-results {
  border: 1px solid #ccc;
  display: none;
  max-height: 150px;
  overflow-y: auto;
}

.search-results div {
  padding: 10px;
  cursor: pointer;
}

.search-results div:hover {
  background-color: #f0f0f0;
}

#definition {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  display: none;
}

.no-match {
  color: red;
}
